name: CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

# GitHub Action'a repoya dosya yazma yetkisi veriyoruz
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Install dependencies
      run: npm install

    - name: Build
      run: CI=false npm run build

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v4
      with:
        # Kendi secret'ın yerine GitHub'ın otomatik token'ını kullanıyoruz
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./build
